p.title kmom02
:markdown-it(linkify langPrefix='highlight-')
    ### Har du jobbat med Docker eller andra virtualiseringstekniker innan?
    Jag har inte hört talats om docker sedan tidigare, så det var helt nytt för mig.
    Det närmsta virtualiseringstekniker som jag kommit skulle väl vara när vi använde oss av Oracle Virtualbox i tidigare kursmoment.
    ### Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?
    Jag tyckte det var riktigt praktiskt med att ha en docker-compose fil.
    Just att man enkelt kan sätta upp olika kontainrar där man använder sig av olika versioner av t.ex. nodejs gör att man kan enkelt kan testa sin sida så att den är kompatibel.
    Sedan finns också möjligeten att skapa images som kan vara riktigt bra om man har tagit fram en bas till ett projekt som kommer återanvändas.
    På så sätt har man en mall vilket gör att man kommer över ett vanligt hinder inom projektarbeten där det kan vara svårt att komma igång.
    ### Gick allt smidigt eller stötte du på problem?
    Det här var ett struligt kursmoment för mig, även fast det egentligen inte var särskilt stort i omfattning.
    Jag använder mig av Windows 7 vilket gjorde att "vanliga" Docker inte gick att installera.
    Därför installerade jag Docker toolbox som tydligen skulle fungera för Windows 7.
    Men även här stötte jag på problem då det inte gick att köra en detached container utan att det kom upp felmeddelanden i
    I och med det försökte jag uppgradera datorn till Windows 10 med den Educational licens som man kunde få genom BTH.
    Detta visade sig inte fungera heller då datorn craschade varje gång installationen av Windows 10 startade.
    Jag satt länge och felsökte vad som gjorde att datorn craschade, men lyckades inte riktigt komma fram till något förutom att det antagligen berodde på någon drivrutin som strulade.
    Därefter insåg jag att det var "Kitematic" som jag skulle använda mig av och inte "Docker quickstart terminal".
    Så jag hade med andra ord slösat ganska mycket tid med Windows 10 utan att komma någon vart.
    ### Skapade du din egen image, berätta om den?
    Nej, jag gjorde inte det i detta kursmoment.
    Det verkar inte vara så svårt, så jag kommer antagligen göra det i kommande kursmoment.
    Men eftersom jag ligger efter planeringen så känns det bättre att försöka jobba ikapp istället för att göra extrauppgifter just nu.
 
