extend framework/layout.pug

block main
    .main
        h3 Om denna sida och kursen ramverk 2
        p Detta är den andra kursen inriktad mot ramverk i programmet webbprogrammering vid BTH.
        p Kursen kommer fokusera på JavaScript, PHP, virtualisering och enhetstestning.
        p Sidans kod kan man kolla på vid <a href="https://github.com/ragren/ramverk2">Github!</a>
        i Till höger ser vi ett ramverk, bostavligt talat.
        img(src="img/frame.PNG", width="150" style="float:right; margin:10px;")
