extend framework/layout.pug

block main
    .main
        h3 Hej!
        p Detta är min me-sida för kursen ramverk 2 vid BTH.
        p Mitt namn är Rasmus Ågren, jag är 27 år och bor i Enköping.
        img(src="img/pic.JPG", width="200" style="float:right; margin:10px;")
        p På min fritid tycker jag om att följa sport, pyssla med mina växter och umgås med min flickvän.
        p Innan jag började studera webbprogrammering så hade jag jobbat i Kina som 3D grafiker.
        p Nu hoppas jag att denna utbildning ska leda till att jag kan byta karriär och bli programmerare istället!
