.navbar
    a(href="/")
        h4
            span.glyphicon.glyphicon-home
            |  Home
    a(href="report")
        h4
            span.glyphicon.glyphicon-th-list
            |  Report
    a(href="about")
        h4
            span.glyphicon.glyphicon-question-sign
            |  About
